// bower:less
@import "bower_components/uikit/less/core/alert.less";
@import "bower_components/uikit/less/core/animation.less";
@import "bower_components/uikit/less/core/article.less";
@import "bower_components/uikit/less/core/badge.less";
@import "bower_components/uikit/less/core/base.less";
@import "bower_components/uikit/less/core/block.less";
@import "bower_components/uikit/less/core/breadcrumb.less";
@import "bower_components/uikit/less/core/button.less";
@import "bower_components/uikit/less/core/close.less";
@import "bower_components/uikit/less/core/column.less";
@import "bower_components/uikit/less/core/comment.less";
@import "bower_components/uikit/less/core/contrast.less";
@import "bower_components/uikit/less/core/cover.less";
@import "bower_components/uikit/less/core/description-list.less";
@import "bower_components/uikit/less/core/dropdown.less";
@import "bower_components/uikit/less/core/flex.less";
@import "bower_components/uikit/less/core/form.less";
@import "bower_components/uikit/less/core/grid.less";
@import "bower_components/uikit/less/core/icon.less";
@import "bower_components/uikit/less/core/list.less";
@import "bower_components/uikit/less/core/modal.less";
@import "bower_components/uikit/less/core/nav.less";
@import "bower_components/uikit/less/core/navbar.less";
@import "bower_components/uikit/less/core/offcanvas.less";
@import "bower_components/uikit/less/core/overlay.less";
@import "bower_components/uikit/less/core/pagination.less";
@import "bower_components/uikit/less/core/panel.less";
@import "bower_components/uikit/less/core/print.less";
@import "bower_components/uikit/less/core/subnav.less";
@import "bower_components/uikit/less/core/switcher.less";
@import "bower_components/uikit/less/core/tab.less";
@import "bower_components/uikit/less/core/table.less";
@import "bower_components/uikit/less/core/text.less";
@import "bower_components/uikit/less/core/thumbnail.less";
@import "bower_components/uikit/less/core/thumbnav.less";
@import "bower_components/uikit/less/core/utility.less";
@import "bower_components/uikit/less/core/variables.less";
@import "bower_components/fluidable/fluidable.less";
// endbower

@import (less) "../fonts/open-sans.css";
@import "ac-variables";
@import "ac-buttons";
@import "ac-grids";
@import "ac-cards";

@import "ac-header";
@import "ac-footer";

body {
  background: #fff;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #555;
  margin-bottom: 330px;

  @media screen and (max-width: @breakpoint-small-max) {
    background-color: #f7f7f7;
  }

  @media (min-width: @breakpoint-small) {
    margin-bottom: 440px;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.ac-input-group {


  > input {

  }

  > button {

  }
}


.ac-list-inline {
  padding-left: 0;
  margin-left: -5px;
  list-style: none;

  > li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
  }
}


// Index header, slider & box (banner) style
// ---------------------------------------------------

.ac-header-wrap {
  background-color: #f9f9f9;

  @media (min-width: @breakpoint-medium) {
    padding: 12px 0;
    border-bottom: 1px solid #f3f3f3;
  }

  .uk-container {
    @media screen and (max-width: @breakpoint-small-max) {
      padding-left: 0;
      padding-right: 0;
    }

  }
}

.ac-header-slider-wrap {
  width: 100%;
  float: left;

  @media (min-width: @breakpoint-xlarge) {
    width: 864px;
    float: left;
  }

  @media (min-width: @breakpoint-medium) {
    width: 740px;
    float: none;
    margin: auto;
  }
}

.ac-header-box-wrap {
  float: left;
  width: 261px;
  display: none;

  @media (min-width: @breakpoint-xlarge) {
    display: block;
  }
}

.ac-header-box {
  height: 182px;

  img {
    height: 100%;
  }

  &:first-child {
    margin-bottom: 1px;
  }
}

// Sections
// -----------------------------------

.ac-section {
  padding: 36px 0;
}

// Offcanvas behaviour on mobile
// -----------------------------------

.ac-purchase-offcanvas {

  @media screen and (max-width: @breakpoint-small-max) {

    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin-left: 100%;
    bottom: 0;
    transition: margin-left 0.2s ease-in-out 0.1s;
    z-index: 100;
    overflow-x: auto;

    &.reveal {
      margin-left: 0;
      padding-bottom: 70px;

      .ac-purchase-offcanvas-close {
        opacity: 1;
      }

      .ac-purchase-offcanvas-submit {
        transform: translateX(0);
      }
    }
  }

  &-bg {
    overflow: hidden;

    &:before {
      transition: all .2s;
      content: '';
      background-color: rgba(0, 0, 0, 0.5);
      position: fixed;
      width: 100%;
      height: 100%;
      z-index: 99;
    }
  }

  &-close {
    display: inline-block;
    position: absolute;
    background-color: #f9f9f9;
    top: 0;
    right: 0;
    padding: 12px 14px;
    color: #999;
    border-left: 1px solid #eee;
    opacity: 0;
    transition: opacity 0.2s ease 0.1s;
  }
}

.ac-purchase-offcanvas-label {
  padding: 12px 14px;
  border-bottom: 1px solid #eee;
  position: relative;
}

.ac-purchase-offcanvas-head {
  padding: 10px 14px;
  display: table;
}

.ac-purchase-offcanvas-head-img {
  display: table-cell;

  > img {
    width: 64px;
  }
}

.ac-purchase-offcanvas-head-text {
  display: table-cell;
  padding-left: 10px;
  vertical-align: middle;
}

.ac-purchase-offcanvas-submit {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translateX(100%);
  background-color: #f3f3f3;
  border-top: 1px solid #ccc;
  padding: 10px 20px;
  transition: all 0.2s ease 0.1s;
}




// Breadcrumb
// -----------------------------------

.ac-breadcrumb-wrap {
  padding-top: 14px;
}


// Increase & decrease input style
// -----------------------------------

.ac-dynamic-num-form {
  display: table;
  vertical-align: middle;
  width: 100px;
  margin-right: 10px;
  
  a {
    display: table-cell;
    border: 1px solid #ddd;
    width: 1%;
    padding: 0 10px;
    text-align: center;
    line-height: 1rem;

    &:hover,
    &:focus {
      background-color: #eee;
    }
  }
}


// offcanvas sidebar style 

#ac-offcanvas-right {

  .ac-dashboard-sidebar-user-text {
    font-size: 1rem;

    > h3 {
      font-size: 1.2rem;
      margin-top: 12px;
      margin-bottom: 4px;
      color: #bbb;
    }
  }
}