<li class="uk-parent">
	<a href="#" class="ac-header-nav-category-item uk-text-truncate"><i class="uk-icon-suitcase uk-text-muted"></i>&nbsp;&nbsp;popular Women</a>
	<ul class="uk-nav-sub">
		<li>
			<ul>
				<li class="uk-nav-header">coat</li>	
				<li><a href="#">Knit</a></li>
				<li><a href="#">sweater</a></li>
				<li><a href="#">T-shirt</a></li>
				<li><a href="#">sweater</a></li>
				<li><a href="#">pullover</a></li>
				<li><a href="#">shirt</a></li>
				<li><a href="#">short coat</a></li>
				<li><a href="#">cotton T-shirt</a></li>
				<li><a href="#">hedging sweater</a></li>
				<li><a href="#">conventional sweater</a></li>
				<li><a href="#">large size women</a></li>
				<li><a href="#">windbreaker loose T-shirt</a></li>
				<li><a href="#">chiffon shirt</a></li>
				<li><a href="#">cotton knit</a></li>
				<li><a href="#">cardigan in a long sweater</a></li>
				<li><a href="#">long sweater</a></li>
				<li><a href="#">Slim T-shirt</a></li>
				<li><a href="#">costumes</a></li>
				<li><a href="#">short-sleeved T-shirt</a></li>
				<li><a href="#">round turtleneck sweater</a></li>
				<li><a href="#">cardigan sweater V-neck</a></li>
				<li><a href="#">sweater POLO shirt</a></li>
				<li><a href="#">collar leather</a></li>
				<li><a href="#">casual suit vest</a></li>
				<li><a href="#">middle-aged clothing vest</a></li>
				<li><a href="#">suit work uniforms</a></li>
				<li><a href="#">Chinese clothing</a></li>
				<li><a href="#">career suits</a></li>
			</ul>
		  <ul>
		  	<li class="uk-nav-header">skirt</li>
				<li><a href="#">Dress</a></li>
				<li><a href="#">skirt</a></li>
				<li><a href="#">dress / dress</a></li>
				<li><a href="#">A-type dress</a></li>
				<li><a href="#">sleeveless dress</a></li>
				<li><a href="#">waist dress</a></li>
				<li><a href="#">H-type dress</a></li>
				<li><a href="#">step skirt dress</a></li>
				<li><a href="#">big swing dress</a></li>
				<li><a href="#">short-sleeved dress</a></li>
				<li><a href="#">knitted dress</a></li>
				<li><a href="#">sleeve dress</a></li>
				<li><a href="#">suit dress</a></li>
				<li><a href="#">princess dress</a></li>
				<li><a href="#">lace dress</a></li>
				<li><a href="#">A word skirt</a></li>
		  </ul>
		  <ul>
		  	<li class="uk-nav-header">pants</li>
				<li><a href="#">Casual pants</a></li>
				<li><a href="#">jeans</a></li>
				<li><a href="#">leggings</a></li>
				<li><a href="#">denim trousers</a></li>
				<li><a href="#">casual pants</a></li>
				<li><a href="#">pants</a></li>
				<li><a href="#">wide leg pants</a></li>
				<li><a href="#">straight casual pants</a></li>
				<li><a href="#">harem pants</a></li>
				<li><a href="#">pencil pants</a></li>
				<li><a href="#">pantyhose</a></li>
				<li><a href="#">nine points jeans</a></li>
				<li><a href="#">nine leggings</a></li>
				<li><a href="#">nine points casual pants</a></li>
				<li><a href="#">denim shorts</a></li>
				<li><a href="#">suit pants</a></li>
				<li><a href="#">bottoming pants</a></li>
				<li><a href="#">pants collapse</a></li>
		  </ul>
		  <ul>
		  	<li class="uk-nav-header">Women's Underwear</li>
				<li><a href="#">Cotton underwear</a></li>
				<li><a href="#">modal underwear</a></li>
				<li><a href="#">underwear</a></li>
				<li><a href="#">lovers underwear</a></li>
				<li><a href="#">solid color bra</a></li>
				<li><a href="#">gather bra</a></li>
				<li><a href="#">no rims bra</a></li>
				<li><a href="#">adjustable bra</a></li>
				<li><a href="#">stockings</a></li>
		  </ul>
		</li>
  </ul>
</li>
<li class="uk-parent">
	<a href="#" class="ac-header-nav-category-item uk-text-truncate"><i class="uk-icon-steam uk-text-muted"></i>&nbsp;&nbsp;Men's Fashion</a>
	<ul class="uk-nav-sub">
		<li>
			<ul>
				<li class="uk-nav-header">coat</li>

				<li><a href="#" >T-shirt </a></li>
				<li><a href="#" >neck T-shirt </a></li>
				<li><a href="#" >shirt </a></li>
				<li><a href="#" >sleeved T-shirt </a></li>
				<li><a href="#" >sweater </a></li>
				<li><a href="#" >jacket </a></li>
				<li><a href="#" >sweater </a></li>
				<li><a href="#" >hedging sweater </a></li>
				<li><a href="#" >coat </a></li>
				<li><a href="#" >cloth T-shirt </a></li>
				<li><a href="#" >windbreaker </a></li>
				<li><a href="#" >vest </a></li>
				<li><a href="#" >suit </a></li>
				<li><a href="#" >cardigan sweater </a></li>
				<li><a href="#" >Slim suit </a></li>
				<li><a href="#" >and long coat </a></li>
				<li><a href="#" >tooling uniform </a></li>
				<li><a href="#" >suits </a></li>
				<li><a href="#" >neck T-shirt </a></li>
				<li><a href="#" >conventional cotton </a></li>
				<li><a href="#" >vest vest </a></li>
				<li><a href="#" >Slim windbreaker </a></li>
				<li><a href="#" >national costume </a></li>
				<li><a href="#" >T shirt lapel </a></li>
				<li><a href="#" >one button suit </a></li>
				<li><a href="#" >oxford shirt </a></li>
				<li><a href="#" >Polo shirts</a></li>
			</ul>
			<ul>
				<li class="uk-nav-header">pants</li>

				<li><a href="#" >Casual pants </a></li>
				<li><a href="#" >casual trousers </a></li>
				<li><a href="#" >harem pants </a></li>
				<li><a href="#" >sports pants </a></li>
				<li><a href="#" >overalls </a></li>
				<li><a href="#" >tapered pants </a></li>
				<li><a href="#" >pantyhose </a></li>
				<li><a href="#" >casual pants </a></li>
				<li><a href="#" >trousers </a></li>
				<li><a href="#" >pants </a></li>
				<li><a href="#" >beach pants </a></li>
				<li><a href="#" >Capri pants </a></li>
				<li><a href="#" >grade collapse pants </a></li>
				<li><a href="#" >leather pants </a></li>
				<li><a href="#" >PU leather pants </a></li>
				<li><a href="#" >down pants </a></li>
				<li><a href="#" >trousers</a></li>
			</ul>
			<ul>
				<li class="uk-nav-header">Men's underwear</li>

				<li><a href="#" >Cotton underwear </a></li>
				<li><a href="#" >underwear </a></li>
				<li><a href="#" >modal underwear </a></li>
				<li><a href="#" >briefs </a></li>
				<li><a href="#" >male thermal underwear </a></li>
				<li><a href="#" >cotton underwear </a></li>
				<li><a href="#" >boxer briefs </a></li>
				<li><a href="#" >U convex underwear </a></li>
				<li><a href="#" >Seamless underwear </a></li>
				<li><a href="#" >antibacterial underwear </a></li>
				<li><a href="#" >hip underwear </a></li>
				<li><a href="#" >lace panties </a></li>
				<li><a href="#" >male panties week </a></li>
				<li><a href="#" >sports underwear </a></li>
				<li><a href="#" >male underwear abdomen </a></li>
				<li><a href="#" >recycled fiber underwear</a></li>
			</ul>
			<ul>
				<li class="uk-nav-header">Men's socks</li>

				<li><a href="#" >Socks </a></li>
				<li><a href="#" >socks </a></li>
				<li><a href="#" >in tube socks </a></li>
				<li><a href="#" >cotton socks </a></li>
				<li><a href="#" >men's socks </a></li>
				<li><a href="#" >lovers socks </a></li>
				<li><a href="#" >football socks </a></li>
				<li><a href="#" >basketball socks </a></li>
				<li><a href="#" >badminton socks</a></li>
			</ul>
		</li>
	</ul>
</li>
<li class="uk-parent">
	<a href="#" class="ac-header-nav-category-item uk-text-truncate"><i class="uk-icon-briefcase uk-text-muted"></i>&nbsp;&nbsp;CHILD Toys</a>
	<ul class="uk-nav-sub">
		<li>
			<ul>
				<li class="uk-nav-header">Maternity</li>
				<li><a href="#">Infant out clothes </a></li>
				<li><a href="#">jumpsuit </a></li>
				<li><a href="#">milk powder storage box </a></li>
				<li><a href="#">in pregnant women dresses </a></li>
				<li><a href="#">baby sleeping bags </a></li>
				<li><a href="#">Maternity Pants </a></li>
				<li><a href="#">leggings </a></li>
				<li><a href="#">Buru Yi </a></li>
				<li><a href="#">nursing bra </a></li>
				<li><a href="#">tableware </a></li>
				<li><a href="#">infant crib product suite </a></li>
				<li><a href="#">Stroller Accessories </a></li>
				<li><a href="#">Baby is holding </a></li>
				<li><a href="#">cape / cloak </a></li>
				<li><a href="#">Mummy bag </a></li>
				<li><a href="#">pregnant lotion </a></li>
				<li><a href="#">Girdles </a></li>
				<li><a href="#">anti radiation fabric </a></li>
				<li><a href="#">small bib </a></li>
				<li><a href="#">towel / bathrobe </a></li>
				<li><a href="#">bandage </a></li>
				<li><a href="#">bathtub </a></li>
				<li><a href="#">bottoming socks </a></li>
				<li><a href="#">anti grasping gloves </a></li>
				<li><a href="#">pants </a></li>
				<li><a href="#">Shorts</a></li>
			</ul>
			<ul>
				<li class="uk-nav-header">Baby Supplies</li>
				<li><a href="#">Chair </a></li>
				<li><a href="#">breast pump </a></li>
				<li><a href="#">compartment Urine mattress </a></li>
				<li><a href="#">bed rails </a></li>
				<li><a href="#">baby carrier belt </a></li>
				<li><a href="#">baby pillow / Children's Pillow </a></li>
				<li><a href="#">backpack </a></li>
				<li><a href="#">towel handkerchief </a></li>
				<li><a href="#">glass / kettle </a></li>
				<li><a href="#">Children potty stool </a></li>
				<li><a href="#">Children's furniture </a></li>
				<li><a href="#">bumper strip </a></li>
				<li><a href="#">thermometer </a></li>
				<li><a href="#">baby blankets </a></li>
				<li><a href="#">meals pocket / bibs </a></li>
				<li><a href="#">disinfection of </a></li>
				<li><a href="#">children's chairs class </a></li>
				<li><a href="#">gnats itching </a></li>
				<li><a href="#">lip </a></li>
				<li><a href="#">umbilical</a></li>
			</ul>
			<ul>
				<li class="uk-nav-header">Kids shoes</li>
				<li><a href="#">Bib </a></li>
				<li><a href="#">pants </a></li>
				<li><a href="#">adolescent casual pants </a></li>
				<li><a href="#">pants </a></li>
				<li><a href="#">teen jeans </a></li>
				<li><a href="#">casual pants </a></li>
				<li><a href="#">pants </a></li>
				<li><a href="#">leggings </a></li>
				<li><a href="#">jeans </a></li>
				<li><a href="#">Children suit </a></li>
				<li><a href="#">skirt </a></li>
				<li><a href="#">girls dress </a></li>
				<li><a href="#">T-Shirt </a></li>
				<li><a href="#">Teen T-shirt </a></li>
				<li><a href="#">costumes </a></li>
				<li><a href="#">sweater </a></li>
				<li><a href="#">coat </a></li>
				<li><a href="#">sweater </a></li>
				<li><a href="#">socks </a></li>
				<li><a href="#">boots </a></li>
				<li><a href="#">long-sleeved dress </a></li>
				<li><a href="#">sneakers </a></li>
				<li><a href="#">pajamas </a></li>
				<li><a href="#">baby socks </a></li>
				<li><a href="#">autumn clothes </a></li>
				<li><a href="#">shoes </a></li>
				<li><a href="#">vest </a></li>
				<li><a href="#">hat </a></li>
				<li><a href="#">cute hair decorated </a></li>
				<li><a href="#">sandals </a></li>
				<li><a href="#">windbreaker </a></li>
				<li><a href="#">coat </a></li>
				<li><a href="#">skirt </a></li>
				<li><a href="#">underwear</a></li>
			</ul>
			<ul>
				<li class="uk-nav-header">Toy model</li>
				<li><a href="#">Plush toy </a></li>
				<li><a href="#">building blocks toys </a></li>
				<li><a href="#">dolls </a></li>
				<li><a href="#">doll accessories </a></li>
				<li><a href="#">fight inserted blocks </a></li>
				<li><a href="#">ordinary doll </a></li>
				<li><a href="#">scene class baby </a></li>
				<li><a href="#">role-playing toys, </a></li>
				<li><a href="#">bags </a></li>
				<li><a href="#">crawling mat </a></li>
				<li><a href="#">jigsaw puzzle </a></li>
				<li><a href="#">scooters, </a></li>
				<li><a href="#">children's play house </a></li>
				<li><a href="#">bounce car </a></li>
				<li><a href="#">somatosensory remote control car </a></li>
				<li><a href="#">fight inserted blocks </a></li>
				<li><a href="#">puzzle </a></li>
				<li><a href="#">early childhood teaching aids </a></li>
				<li><a href="#">Early Learning Machine </a></li>
				<li><a href="#">luminous toy </a></li>
				<li><a href="#">cartoon stickers </a></li>
				<li><a href="#">assembling Block </a></li>
				<li><a href="#">Zaojiao </a></li>
				<li><a href="#">remote control track </a></li>
				<li><a href="#">test toys </a></li>
				<li><a href="#">inertia toys </a></li>
				<li><a href="#">deformation robot </a></li>
				<li><a href="#">and the training </a></li>
				<li><a href="#">inflatable toys </a></li>
				<li><a href="#">magnetic building blocks class </a></li>
				<li><a href="#">somatosensory robot </a></li>
				<li><a href="#">and the training </a></li>
				<li><a href="#">decompression graffiti</a></li>
			</ul>
		</li>
	</ul>
</li>
<li class="uk-parent">
	<a href="#" class="ac-header-nav-category-item uk-text-truncate"><i class="uk-icon-tablet uk-text-muted"></i>&nbsp;&nbsp;digital peripheral</a>
	<ul class="uk-nav-sub">
		<li>
			<ul>
				<li class="uk-nav-header">Digital Accessories</li>
				<li><a href="#">Phone case </a></li>
				<li><a href="#">screen film </a></li>
				<li><a href="#">Apple phone membranes </a></li>
				<li><a href="#">laptop parts </a></li>
				<li><a href="#">mobile phone parts </a></li>
				<li><a href="#">tripod </a></li>
				<li><a href="#">camera accessories </a></li>
				<li><a href="#">professional photography accessories </a></li>
				<li><a href="#">Holder </a></li>
				<li><a href="#">Flash </a></li>
				<li><a href="#">chargers </a></li>
				<li><a href="#">computer packages </a></li>
				<li><a href="#">digital finishing package </a></li>
				<li><a href="#">laptop battery </a></li>
				<li><a href="#">flat parts </a></li>
				<li><a href="#">data line </a></li>
				<li><a href="#">notebook stickers </a></li>
				<li><a href="#">adapter </a></li>
				<li><a href="#">film film </a></li>
				<li><a href="#">filters </a></li>
				<li><a href="#">of mobile phone batteries </a></li>
				<li><a href="#">film </a></li>
				<li><a href="#">headset accessories </a></li>
				<li><a href="#">studio </a></li>
				<li><a href="#">background cloth </a></li>
				<li><a href="#">batteries </a></li>
				<li><a href="#">digital camera batteries </a></li>
				<li><a href="#">phone dock </a></li>
				<li><a href="#">reader </a></li>
				<li><a href="#">apple transition line </a></li>
				<li><a href="#">digital microscope </a></li>
				<li><a href="#">notebook protective film </a></li>
				<li><a href="#">flat cable </a></li>
				<li><a href="#">digital camera charging </a></li>
				<li><a href="#">iPad car charger</a></li>
			</ul>
			<ul>
				<li class="uk-nav-header">Office equipment</li>
				<li><a href="#">Cartridge </a></li>
				<li><a href="#">sets of documents </a></li>
				<li><a href="#">scanner </a></li>
				<li><a href="#">drum / toner </a></li>
				<li><a href="#">Multifunctional </a></li>
				<li><a href="#">courier bags </a></li>
				<li><a href="#">ribbon / ribbon </a></li>
				<li><a href="#">bag </a></li>
				<li><a href="#">label printing </a></li>
				<li><a href="#">coding machine </a></li>
				<li><a href="#">vacuum machine </a></li>
				<li><a href="#">printing paper </a></li>
				<li><a href="#">plastic film </a></li>
				<li><a href="#">sealing machine </a></li>
				<li><a href="#">filling machine </a></li>
				<li><a href="#">Masking tape </a></li>
				<li><a href="#">industrial tape </a></li>
				<li><a href="#">binding supplies </a></li>
				<li><a href="#">Toner / carbon powder </a></li>
				<li><a href="#">packing tape</a></li>
			</ul>
			<ul>
				<li class="uk-nav-header">Network / storage devices</li>
				<li><a href="#">Routers </a></li>
				<li><a href="#">3G / 4G router </a></li>
				<li><a href="#">U disk </a></li>
				<li><a href="#">flash memory cards </a></li>
				<li><a href="#">RJ </a></li>
				<li><a href="#">Mobile Hard </a></li>
				<li><a href="#">switch </a></li>
				<li><a href="#">cable </a></li>
				<li><a href="#">module interface card </a></li>
				<li><a href="#">wireless card </a></li>
				<li><a href="#">network extender </a></li>
				<li><a href="#">fiber jumpers </a></li>
				<li><a href="#">RAID card </a></li>
				<li><a href="#">CF card </a></li>
				<li><a href="#">power supply / adapter </a></li>
				<li><a href="#">antenna </a></li>
				<li><a href="#">SD card </a></li>
				<li><a href="#">MDF </a></li>
				<li><a href="#">cabinet </a></li>
				<li><a href="#">repeater </a></li>
				<li><a href="#">network cameras </a></li>
				<li><a href="#">Gateway</a></li>
			</ul>
			<ul>
				<li class="uk-nav-header">All kinds of stationery</li>
				<li><a href="#">Tape / tape </a></li>
				<li><a href="#">folder </a></li>
				<li><a href="#">Gel </a></li>
				<li><a href="#">pencil </a></li>
				<li><a href="#">packaging </a></li>
				<li><a href="#">leaflets </a></li>
				<li><a href="#">student printed </a></li>
				<li><a href="#">pens </a></li>
				<li><a href="#">sticker tile </a></li>
				<li><a href="#">postcards </a></li>
				<li><a href="#">business card </a></li>
				<li><a href="#">custom card </a></li>
				<li><a href="#">banner </a></li>
				<li><a href="#">calculator </a></li>
				<li><a href="#">notes / N times posted </a></li>
				<li><a href="#">correction fluid, </a></li>
				<li><a href="#">whiteboard </a></li>
				<li><a href="#">eraser </a></li>
				<li><a href="#">experimental equipment </a></li>
				<li><a href="#">four treasures of </a></li>
				<li><a href="#">calligraphy posts </a></li>
				<li><a href="#">translation T</a></li>
			</ul>
		</li>
	</ul>
</li>
<li class="uk-parent">
	<a href="#" class="ac-header-nav-category-item uk-text-truncate"><i class="uk-icon-female uk-text-muted"></i>&nbsp;&nbsp;home life</a>
	<ul class="uk-nav-sub">
		<li>
			<ul>
				<li class="uk-nav-header">Tableware / kitchenware</li>
				<li><a href="#">Mug </a></li>
				<li><a href="#">cake mold </a></li>
				<li><a href="#">plate </a></li>
				<li><a href="#">bowl </a></li>
				<li><a href="#">kitchen shelving </a></li>
				<li><a href="#">snack boxes </a></li>
				<li><a href="#">glass </a></li>
				<li><a href="#">sealed cans </a></li>
				<li><a href="#">glass </a></li>
				<li><a href="#">fruit tray / spit </a></li>
				<li><a href="#">readily cup </a></li>
				<li><a href="#">mug </a></li>
				<li><a href="#">aprons / cuff </a></li>
				<li><a href="#">cutlery set </a></li>
				<li><a href="#">fruit plate fruit bucket </a></li>
				<li><a href="#">baby tableware </a></li>
				<li><a href="#">disposable lunch boxes </a></li>
				<li><a href="#">tea / zero with </a></li>
				<li><a href="#">tea caddy </a></li>
				<li><a href="#">pot </a></li>
				<li><a href="#">colander</a></li>
			</ul>
			<ul>
				<li class="uk-nav-header">Bedding / cloth</li>
				<li><a href="#">Bedding a family of four </a></li>
				<li><a href="#">cloth </a></li>
				<li><a href="#">cushions cushion </a></li>
				<li><a href="#">needlework </a></li>
				<li><a href="#">pillow pillow </a></li>
				<li><a href="#">sheets </a></li>
				<li><a href="#">blankets / carpet </a></li>
				<li><a href="#">mats </a></li>
				<li><a href="#">Tablecloth / table flag </a></li>
				<li><a href="#">sewing </a></li>
				<li><a href="#">stitch DIY </a></li>
				<li><a href="#">Bedding package </a></li>
				<li><a href="#">ribbon ribbons </a></li>
				<li><a href="#">DIY material package </a></li>
				<li><a href="#">upholstery </a></li>
				<li><a href="#">buttons </a></li>
				<li><a href="#">lace </a></li>
				<li><a href="#">cloth stickers </a></li>
				<li><a href="#">curtain </a></li>
				<li><a href="#">duvet </a></li>
				<li><a href="#">pillowcase pillow </a></li>
				<li><a href="#">quilt </a></li>
				<li><a href="#">memory pillow </a></li>
				<li><a href="#">mosquito net / bed mantle </a></li>
				<li><a href="#">Travel pillow </a></li>
				<li><a href="#">health mattresses </a></li>
				<li><a href="#">wool </a></li>
				<li><a href="#">towels </a></li>
				<li><a href="#">pillow </a></li>
				<li><a href="#">yurt nets </a></li>
				<li><a href="#">palace wind nets </a></li>
				<li><a href="#">mat kit</a></li>
			</ul>
			<ul>
				<li class="uk-nav-header">Cleaning Storage</li>
				<li><a href="#">Jewellery Storage </a></li>
				<li><a href="#">racks </a></li>
				<li><a href="#">Personal Storage bag </a></li>
				<li><a href="#">remote control storage </a></li>
				<li><a href="#">card sets </a></li>
				<li><a href="#">bag </a></li>
				<li><a href="#">masks </a></li>
				<li><a href="#">finishing frame </a></li>
				<li><a href="#">hook </a></li>
				<li><a href="#">plastic hanger </a></li>
				<li><a href="#">plastic storage box </a></li>
				<li><a href="#">portable mirror with </a></li>
				<li><a href="#">comb </a></li>
				<li><a href="#">large comb </a></li>
				<li><a href="#">bathroom pod </a></li>
				<li><a href="#">gloves </a></li>
				<li><a href="#">foot tub </a></li>
				<li><a href="#">large pouch </a></li>
				<li><a href="#">Storage Bag </a></li>
				<li><a href="#">portable mirror </a></li>
				<li><a href="#">tissue box </a></li>
				<li><a href="#">underwear storage box </a></li>
				<li><a href="#">plastic trash </a></li>
				<li><a href="#">plastic storage bucket </a></li>
				<li><a href="#">nail set </a></li>
				<li><a href="#">dry hair cap </a></li>
				<li><a href="#">bath balls </a></li>
				<li><a href="#">wash brush </a></li>
				<li><a href="#">headband </a></li>
				<li><a href="#">quilt pouch</a></li>
			</ul>
			<ul>
				<li class="uk-nav-header">Commodity / furnishings</li>
				<li><a href="#">Decoration </a></li>
				<li><a href="#">balloon </a></li>
				<li><a href="#">candy box </a></li>
				<li><a href="#">storage </a></li>
				<li><a href="#">umbrella / parasol </a></li>
				<li><a href="#">Wall Stickers </a></li>
				<li><a href="#">Photo Frame </a></li>
				<li><a href="#">sunny umbrella </a></li>
				<li><a href="#">towel sets </a></li>
				<li><a href="#">Garden Shoes </a></li>
				<li><a href="#">simulation flowers </a></li>
				<li><a href="#">washcloth </a></li>
				<li><a href="#">invitations </a></li>
				<li><a href="#">Christmas decorations </a></li>
				<li><a href="#">keychain </a></li>
				<li><a href="#">towels </a></li>
				<li><a href="#">Garden ornaments </a></li>
				<li><a href="#">hot water bottle </a></li>
				<li><a href="#">hot water bottle / Challenge Po </a></li>
				<li><a href="#">grandfather clock </a></li>
				<li><a href="#">Picture frame </a></li>
				<li><a href="#">shoe </a></li>
				<li><a href="#">winter cotton slippers </a></li>
				<li><a href="#">Spring Garden shoes </a></li>
				<li><a href="#">sandals / Garden shoes </a></li>
				<li><a href="#">hi word </a></li>
				<li><a href="#">in addition to formaldehyde supplies </a></li>
				<li><a href="#">car odor </a></li>
				<li><a href="#">creative wall clock </a></li>
				<li><a href="#">simple wall clock </a></li>
				<li><a href="#">Hand Po </a></li>
				<li><a href="#">Continental wall clock </a></li>
				<li><a href="#">sticker </a></li>
				<li><a href="#">jade </a></li>
				<li><a href="#">personalized stamp</a></li>
			</ul>
		</li>
	</ul>
</li>
<li class="uk-parent">
	<a href="#" class="ac-header-nav-category-item uk-text-truncate"><i class="uk-icon-home uk-text-muted"></i>&nbsp;&nbsp;Footwear Bags</a>
	<ul class="uk-nav-sub">
		<li>
			<ul>
				<li class="uk-nav-header">Shoes</li>
				<li><a href="#">Peas shoes </a></li>
				<li><a href="#">Mary Jane shoes </a></li>
				<li><a href="#">doll shoes </a></li>
				<li><a href="#">Martin boots </a></li>
				<li><a href="#">single shoes </a></li>
				<li><a href="#">low-heeled shoes </a></li>
				<li><a href="#">waterproof shoes </a></li>
				<li><a href="#">pointed shoes </a></li>
				<li><a href="#">high-heeled shoes, </a></li>
				<li><a href="#">low-heeled boots </a></li>
				<li><a href="#">Bullock </a></li>
				<li><a href="#">sandals </a></li>
				<li><a href="#">platform shoes </a></li>
				<li><a href="#">flat boots </a></li>
				<li><a href="#">canvas shoes </a></li>
				<li><a href="#">large size shoes </a></li>
				<li><a href="#">big yards boots </a></li>
				<li><a href="#">sandals </a></li>
				<li><a href="#">boots / boot</a></li>
			</ul>
			<ul>
				<li class="uk-nav-header">Lady bags</li>
				<li><a href="#">Handbag </a></li>
				<li><a href="#">shoulder bag </a></li>
				<li><a href="#">purse </a></li>
				<li><a href="#">small square package </a></li>
				<li><a href="#">bucket bag </a></li>
				<li><a href="#">envelope bag </a></li>
				<li><a href="#">picture bag </a></li>
				<li><a href="#">tote bag </a></li>
				<li><a href="#">Quilted bag </a></li>
				<li><a href="#">shell bag </a></li>
				<li><a href="#">tassel bag </a></li>
				<li><a href="#">motorcycle bag </a></li>
				<li><a href="#">chain bag </a></li>
				<li><a href="#">retro package </a></li>
				<li><a href="#">dumplings </a></li>
				<li><a href="#">messenger bag </a></li>
				<li><a href="#">Kelly bag </a></li>
				<li><a href="#">rivet package</a></li>
			</ul>
			<ul>
				<li class="uk-nav-header">Men's Shoes</li>
				<li><a href="#">Boots </a></li>
				<li><a href="#">canvas shoes </a></li>
				<li><a href="#">elevator shoes </a></li>
				<li><a href="#">high shoes </a></li>
				<li><a href="#">shoes </a></li>
				<li><a href="#">lazy shoes </a></li>
				<li><a href="#">casual shoes </a></li>
				<li><a href="#">business leather shoes </a></li>
				<li><a href="#">Peas shoes </a></li>
				<li><a href="#">Bullock shoes </a></li>
				<li><a href="#">hole shoes</a></li>
			</ul>
			<ul>
				<li class="uk-nav-header">Function Bags</li>
				<li><a href="#">Canvas bag </a></li>
				<li><a href="#">casual man bag </a></li>
				<li><a href="#">shoulder bag </a></li>
				<li><a href="#">business shoulder bag </a></li>
				<li><a href="#">casual shoulder bag </a></li>
				<li><a href="#">sports shoulder bag </a></li>
				<li><a href="#">backpack </a></li>
				<li><a href="#">shoulder bag </a></li>
				<li><a href="#">purse </a></li>
				<li><a href="#">leisure purse </a></li>
				<li><a href="#">messenger bag </a></li>
				<li><a href="#">long wallet </a></li>
				<li><a href="#">cross wallet </a></li>
				<li><a href="#">bag </a></li>
				<li><a href="#">card packs </a></li>
				<li><a href="#">card package </a></li>
				<li><a href="#">key cases</a></li>
			</ul>
		</li>
	</ul>
</li>
<li class="uk-parent">
	<a href="#" class="ac-header-nav-category-item uk-text-truncate"><i class="uk-icon-soccer-ball-o uk-text-muted"></i>&nbsp;&nbsp;Watch Accessories</a>
	<ul class="uk-nav-sub">
		<li>
			<ul>
				<li class="uk-nav-header">Scarves Accessories</li>
				<li><a href="#">Silk scarves </a></li>
				<li><a href="#">cotton scarves </a></li>
				<li><a href="#">hat </a></li>
				<li><a href="#">lady hat </a></li>
				<li><a href="#">man hat </a></li>
				<li><a href="#">lady long scarf </a></li>
				<li><a href="#">solid color scarves </a></li>
				<li><a href="#">girdle </a></li>
				<li><a href="#">Waist </a></li>
				<li><a href="#">Men's leather belt </a></li>
				<li><a href="#">men canvas belt </a></li>
				<li><a href="#">lady leather belt </a></li>
				<li><a href="#">men's belts </a></li>
				<li><a href="#">Women gloves </a></li>
				<li><a href="#">Men's sheepskin gloves </a></li>
				<li><a href="#">Women wool gloves </a></li>
				<li><a href="#">men's wool gloves </a></li>
				<li><a href="#">ladies sheepskin gloves </a></li>
				<li><a href="#">men's gloves </a></li>
				<li><a href="#">Gloves </a></li>
				<li><a href="#">glossy belt </a></li>
				<li><a href="#">Ms. wool cap </a></li>
				<li><a href="#">Men's wool cap </a></li>
				<li><a href="#">Men's baseball cap </a></li>
				<li><a href="#">Ms. baseball cap </a></li>
				<li><a href="#">tie </a></li>
				<li><a href="#">Ms. Topper </a></li>
				<li><a href="#">M gloves </a></li>
				<li><a href="#">woman gloves</a></li>
			</ul>
			<ul>
				<li class="uk-nav-header">popular accessories</li>
				<li><a href="#">Jewelry DIY </a></li>
				<li><a href="#">hair accessories </a></li>
				<li><a href="#">necklace </a></li>
				<li><a href="#">bracelet </a></li>
				<li><a href="#">jewelry box / display </a></li>
				<li><a href="#">Ring / Ring </a></li>
				<li><a href="#">earrings </a></li>
				<li><a href="#">bracelets </a></li>
				<li><a href="#">earrings </a></li>
				<li><a href="#">brooch </a></li>
				<li><a href="#">ear clip </a></li>
				<li><a href="#">jewelry maintenance identification </a></li>
				<li><a href="#">anklet </a></li>
				<li><a href="#">ear line</a></li>
			</ul>
			<ul>
				<li class="uk-nav-header">Glasses / Smoking</li>
				<li><a href="#">Electronic cigarette / smoke oil </a></li>
				<li><a href="#">frames </a></li>
				<li><a href="#">Sunglasses </a></li>
				<li><a href="#">Contact Lenses </a></li>
				<li><a href="#">polarized sunglasses </a></li>
				<li><a href="#">glasses </a></li>
				<li><a href="#">lens case / lens kit </a></li>
				<li><a href="#">refillable lighters </a></li>
				<li><a href="#">Eye Care Products </a></li>
				<li><a href="#">mouthpiece </a></li>
				<li><a href="#">contact lens case </a></li>
				<li><a href="#">of disposable lighters </a></li>
				<li><a href="#">radiation glasses </a></li>
				<li><a href="#">glasses screwdriver </a></li>
				<li><a href="#">3D glasses </a></li>
				<li><a href="#">Swiss Army knife </a></li>
				<li><a href="#">decorative glasses </a></li>
				<li><a href="#">cigarette </a></li>
				<li><a href="#">wine </a></li>
				<li><a href="#">kerosene lighter </a></li>
				<li><a href="#">glasses care agent</a></li>
			</ul>
			<ul>
				<li class="uk-nav-header">Watches &amp; Jewellery</li>
				<li><a href="#">Pop watch </a></li>
				<li><a href="#">gold </a></li>
				<li><a href="#">diamond </a></li>
				<li><a href="#">Platinum / PT </a></li>
				<li><a href="#">Natural jade </a></li>
				<li><a href="#">natural amber </a></li>
				<li><a href="#">jade </a></li>
				<li><a href="#">and nephrite </a></li>
				<li><a href="#">natural pearls</a></li>
			</ul>
		</li>
	</ul>
</li>
<li class="uk-parent">
	<a href="#" class="ac-header-nav-category-item uk-text-truncate"><i class="uk-icon-gamepad uk-text-muted"></i>&nbsp;&nbsp;appliances home improvement</a>
	<ul class="uk-nav-sub">
		<li>
			<ul>
				<li class="uk-nav-header">Kitchen Appliances</li>
				<li><a href="#">Water purification </a></li>
				<li><a href="#">rice cookers </a></li>
				<li><a href="#">cooking machine </a></li>
				<li><a href="#">Soymilk </a></li>
				<li><a href="#">cooker </a></li>
				<li><a href="#">juicer </a></li>
				<li><a href="#">kettle </a></li>
				<li><a href="#">electric cookers </a></li>
				<li><a href="#">, pressure cookers </a></li>
				<li><a href="#">health / medicine or pot </a></li>
				<li><a href="#">Oven </a></li>
				<li><a href="#">Electric / hot pot </a></li>
				<li><a href="#">baking pan </a></li>
				<li><a href="#">toaster </a></li>
				<li><a href="#">microwave </a></li>
				<li><a href="#">net bucket / water cup </a></li>
				<li><a href="#">dispenser </a></li>
				<li><a href="#">pasta machine </a></li>
				<li><a href="#">electric lunch </a></li>
				<li><a href="#">meat machine </a></li>
				<li><a href="#">chocolate fountain</a></li>
			</ul>
			<ul>
				<li class="uk-nav-header">Large household appliances</li>
				<li><a href="#">Flat-panel TV </a></li>
				<li><a href="#">refrigerator </a></li>
				<li><a href="#">washing machine </a></li>
				<li><a href="#">air conditioning </a></li>
				<li><a href="#">hood </a></li>
				<li><a href="#">air heaters </a></li>
				<li><a href="#">freezer </a></li>
				<li><a href="#">gas water heater </a></li>
				<li><a href="#">disinfection cabinet </a></li>
				<li><a href="#">gas stoves </a></li>
				<li><a href="#">dishwashers, </a></li>
				<li><a href="#">wine cooler </a></li>
				<li><a href="#">embedded steamer </a></li>
				<li><a href="#">integrated kitchen </a></li>
				<li><a href="#">speed hot water heaters </a></li>
				<li><a href="#">rear-projection TV </a></li>
				<li><a href="#">solar water heaters </a></li>
				<li><a href="#">Car refrigerator </a></li>
				<li><a href="#">Car TV</a></li>
			</ul>
			<ul>
				<li class="uk-nav-header">Electrical life</li>
				<li><a href="#">Air purifier </a></li>
				<li><a href="#">cleaner </a></li>
				<li><a href="#">humidifier </a></li>
				<li><a href="#">fan </a></li>
				<li><a href="#">heater </a></li>
				<li><a href="#">telephone </a></li>
				<li><a href="#">steamer </a></li>
				<li><a href="#">mites instrument </a></li>
				<li><a href="#">ultrasonic cleaning machine </a></li>
				<li><a href="#">blanket </a></li>
				<li><a href="#">ventilator </a></li>
				<li><a href="#">electronic thermometer </a></li>
				<li><a href="#">dehumidifier </a></li>
				<li><a href="#">dryer </a></li>
				<li><a href="#">machine </a></li>
				<li><a href="#">detoxification / Oxygen Machine </a></li>
				<li><a href="#">Flavoring Machine </a></li>
				<li><a href="#">Irons </a></li>
				<li><a href="#">Lint Remover </a></li>
				<li><a href="#">steam / dry wash</a></li>
			</ul>
			<ul>
				<li class="uk-nav-header">Decoration Materials</li>
				<li><a href="#">Ceiling </a></li>
				<li><a href="#">network camera </a></li>
				<li><a href="#">LED lighting </a></li>
				<li><a href="#">LED lamp </a></li>
				<li><a href="#">Spotlight </a></li>
				<li><a href="#">LED Strip Light </a></li>
				<li><a href="#">Wall </a></li>
				<li><a href="#">downlights </a></li>
				<li><a href="#">fishing line chandelier </a></li>
				<li><a href="#">infrared cameras </a></li>
				<li><a href="#">Shower Sets </a></li>
				<li><a href="#">Fittings </a></li>
				<li><a href="#">embedded video recorders </a></li>
				<li><a href="#">landscape lighting </a></li>
				<li><a href="#">decorative lamp </a></li>
				<li><a href="#">monitoring equipment </a></li>
				<li><a href="#">PVC floor </a></li>
				<li><a href="#">drill </a></li>
				<li><a href="#">faucet </a></li>
				<li><a href="#">crystal ceiling </a></li>
				<li><a href="#">interior doors </a></li>
				<li><a href="#">CFL </a></li>
				<li><a href="#">shower single head </a></li>
				<li><a href="#">UV light </a></li>
				<li><a href="#">security door </a></li>
				<li><a href="#">batch inlay material </a></li>
				<li><a href="#">belt machine </a></li>
				<li><a href="#">electric threading machine </a></li>
				<li><a href="#">coating additives</a></li>
			</ul>
		</li>
	</ul>
</li>
<li class="uk-parent">
	<a href="#" class="ac-header-nav-category-item uk-text-truncate"><i class="uk-icon-paw uk-text-muted"></i>&nbsp;&nbsp;popular digital</a>
	<ul class="uk-nav-sub">
		<li>
			<ul>
				<li class="uk-nav-header">Computer Related</li>
				<li><a href="#">Computer CPU </a></li>
				<li><a href="#">Computer Keyboard </a></li>
				<li><a href="#">Computer board </a></li>
				<li><a href="#">computer memory </a></li>
				<li><a href="#">computer hard drive </a></li>
				<li><a href="#">camera </a></li>
				<li><a href="#">cooling equipment </a></li>
				<li><a href="#">wireless mouse </a></li>
				<li><a href="#">SSDs </a></li>
				<li><a href="#">mobile hard </a></li>
				<li><a href="#">wired mouse </a></li>
				<li><a href="#">mouse </a></li>
				<li><a href="#">server </a></li>
				<li><a href="#">multimedia speakers </a></li>
				<li><a href="#">to the drawing board </a></li>
				<li><a href="#">and keyboard set </a></li>
				<li><a href="#">mouse pad </a></li>
				<li><a href="#">Hard box </a></li>
				<li><a href="#">computer power </a></li>
				<li><a href="#">card </a></li>
				<li><a href="#">CD-ROM / DVD </a></li>
				<li><a href="#">notebook memory </a></li>
				<li><a href="#">patch </a></li>
				<li><a href="#">notebook drives</a></li>
			</ul>
			<ul>
				<li class="uk-nav-header">Phone / camera / MP3</li>
				<li><a href="#">Phone </a></li>
				<li><a href="#">Android phone </a></li>
				<li><a href="#">Iphone </a></li>
				<li><a href="#">millet mobile phone </a></li>
				<li><a href="#">digital camera </a></li>
				<li><a href="#">Huawei cell phone </a></li>
				<li><a href="#">camera lenses </a></li>
				<li><a href="#">Bluetooth headset </a></li>
				<li><a href="#">LOMO camera </a></li>
				<li><a href="#">camera </a></li>
				<li><a href="#">Samsung phone </a></li>
				<li><a href="#">MP3 </a></li>
				<li><a href="#">Sony phones </a></li>
				<li><a href="#">general phone </a></li>
				<li><a href="#">Polaroid </a></li>
				<li><a href="#">telephoto camera</a></li>
			</ul>
			<ul>
				<li class="uk-nav-header">Entertainment</li>
				<li><a href="#">Network player </a></li>
				<li><a href="#">headset headset </a></li>
				<li><a href="#">Bluetooth speaker </a></li>
				<li><a href="#">wire </a></li>
				<li><a href="#">microphone </a></li>
				<li><a href="#">stage KTV equipment </a></li>
				<li><a href="#">stage lighting </a></li>
				<li><a href="#">and audio transmission equipment </a></li>
				<li><a href="#">decoder </a></li>
				<li><a href="#">amplifier </a></li>
				<li><a href="#">card Speaker </a></li>
				<li><a href="#">gamepad </a></li>
				<li><a href="#">speaker / crossover </a></li>
				<li><a href="#">HD DVD player </a></li>
				<li><a href="#">Speaker Stand </a></li>
				<li><a href="#">CD player / vinyl </a></li>
				<li><a href="#">amp </a></li>
				<li><a href="#">tube </a></li>
				<li><a href="#">engineering solutions </a></li>
				<li><a href="#">plug / socket </a></li>
				<li><a href="#">Sony PSP</a></li>
			</ul>
			<ul>
				<li class="uk-nav-header">Smart Garments</li>
				<li><a href="#">Smart Garments </a></li>
				<li><a href="#">smart pedometer </a></li>
				<li><a href="#">android smart wearable </a></li>
				<li><a href="#">IOS smart wearable </a></li>
				<li><a href="#">sleep monitoring </a></li>
				<li><a href="#">waterproof wearable smart </a></li>
				<li><a href="#">intelligent entertainment </a></li>
				<li><a href="#">millet smart wearable </a></li>
				<li><a href="#">remote control Self- </a></li>
				<li><a href="#">Bluetooth phone </a></li>
				<li><a href="#">heart rate monitor </a></li>
				<li><a href="#">smart camera </a></li>
				<li><a href="#">Windows Smart Garments </a></li>
				<li><a href="#">Huawei Smart Garments </a></li>
				<li><a href="#">FitBit Smart Garments</a></li>
			</ul>
		</li>
	</ul>
</li>
<li class="uk-parent">
	<a href="#" class="ac-header-nav-category-item uk-text-truncate"><i class="uk-icon-car uk-text-muted"></i>&nbsp;&nbsp;casual fun</a>
	<ul class="uk-nav-sub">
		<li>
			<ul>
				<li class="uk-nav-header">Pet Supplies</li>
				<li><a href="#">Pet clothing </a></li>
				<li><a href="#">pet Waterloo </a></li>
				<li><a href="#">aquarium filtration equipment </a></li>
				<li><a href="#">diaper / changing mat </a></li>
				<li><a href="#">pet bed / cushion </a></li>
				<li><a href="#">pet backpack </a></li>
				<li><a href="#">Home traction with </a></li>
				<li><a href="#">Chit machine </a></li>
				<li><a href="#">fishpond </a></li>
				<li><a href="#">pet bowl </a></li>
				<li><a href="#">collar </a></li>
				<li><a href="#">cat toilet </a></li>
				<li><a href="#">clippers </a></li>
				<li><a href="#">drinking </a></li>
				<li><a href="#">shampoo bath </a></li>
				<li><a href="#">cat scratch board </a></li>
				<li><a href="#">Cat Litter </a></li>
				<li><a href="#">red oxygen pump </a></li>
				<li><a href="#">sound toys </a></li>
				<li><a href="#">automatic feed food is </a></li>
				<li><a href="#">fish feed </a></li>
				<li><a href="#">micro View cylinder </a></li>
				<li><a href="#">sea water tanks </a></li>
				<li><a href="#">ecological grass cylinder</a></li>
			</ul>
			<ul>
				<li class="uk-nav-header">Car / motorcycle supplies</li>
				<li><a href="#">Headlight assembly </a></li>
				<li><a href="#">car mats </a></li>
				<li><a href="#">trim </a></li>
				<li><a href="#">seat </a></li>
				<li><a href="#">car bulbs </a></li>
				<li><a href="#">daytime running lights </a></li>
				<li><a href="#">glove supplies </a></li>
				<li><a href="#">motorcycle helmet </a></li>
				<li><a href="#">washing machine </a></li>
				<li><a href="#">Car Holder </a></li>
				<li><a href="#">cell phone holder </a></li>
				<li><a href="#">lamp </a></li>
				<li><a href="#">inverter </a></li>
				<li><a href="#">halogen </a></li>
				<li><a href="#">emergency starting power </a></li>
				<li><a href="#">car keys </a></li>
				<li><a href="#">taillight / brake light </a></li>
				<li><a href="#">Car Pillow </a></li>
				<li><a href="#">trunk mat </a></li>
				<li><a href="#">personalized stickers </a></li>
				<li><a href="#">car stickers </a></li>
				<li><a href="#">turn signals </a></li>
				<li><a href="#">front fog lights </a></li>
				<li><a href="#">show wide light </a></li>
				<li><a href="#">welcome pedal </a></li>
				<li><a href="#">storage box </a></li>
				<li><a href="#">down lights </a></li>
				<li><a href="#">brake lights </a></li>
				<li><a href="#">rear fog lamp </a></li>
				<li><a href="#">license light </a></li>
				<li><a href="#">buffet washing machine</a></li>
			</ul>
			<ul>
				<li class="uk-nav-header">Wedding festive supplies</li>
				<li><a href="#">Balloon </a></li>
				<li><a href="#">Christmas decorations </a></li>
				<li><a href="#">dress Supplies </a></li>
				<li><a href="#">Candle </a></li>
				<li><a href="#">lights </a></li>
				<li><a href="#">floating air ball </a></li>
				<li><a href="#">hi word </a></li>
				<li><a href="#">greeting card </a></li>
				<li><a href="#">garland </a></li>
				<li><a href="#">piggy </a></li>
				<li><a href="#">wrist flower </a></li>
				<li><a href="#">gift book </a></li>
				<li><a href="#">air supplies </a></li>
				<li><a href="#">lantern </a></li>
				<li><a href="#">corsage </a></li>
				<li><a href="#">pumpkins </a></li>
				<li><a href="#">fashion ashtray</a></li>
			</ul>
			<ul>
				<li class="uk-nav-header">Instruments / Leisure</li>
				<li><a href="#">Cosplay Women </a></li>
				<li><a href="#">party dress </a></li>
				<li><a href="#">up model </a></li>
				<li><a href="#">hand to do </a></li>
				<li><a href="#">Cosplay Props </a></li>
				<li><a href="#">Transformers </a></li>
				<li><a href="#">BJD doll </a></li>
				<li><a href="#">doll / doll </a></li>
				<li><a href="#">Cosplay Men </a></li>
				<li><a href="#">star periphery </a></li>
				<li><a href="#">Maker </a></li>
				<li><a href="#">model hand to do book </a></li>
				<li><a href="#">Soldier </a></li>
				<li><a href="#">cartoon cards </a></li>
				<li><a href="#">cartoon stationery </a></li>
				<li><a href="#">board game card </a></li>
				<li><a href="#">animation clothing </a></li>
				<li><a href="#">game around </a></li>
				<li><a href="#">animation / pillow </a></li>
				<li><a href="#">Saint model </a></li>
				<li><a href="#">Mini / Siwan </a></li>
				<li><a href="#">Piece relevant </a></li>
				<li><a href="#">girls instrument </a></li>
				<li><a href="#">digital piano </a></li>
				<li><a href="#">adult electric piano </a></li>
				<li><a href="#">intelligent piano </a></li>
				<li><a href="#">piano learning machine </a></li>
				<li><a href="#">cartoon sweater </a></li>
				<li><a href="#">plush toys </a></li>
				<li><a href="#">electric piano </a></li>
				<li><a href="#">veneer guitar </a></li>
				<li><a href="#">practice guitar </a></li>
				<li><a href="#">spruce guitar </a></li>
				<li><a href="#">full guitar single </a></li>
				<li><a href="#">female guitar</a></li>
			</ul>
		</li>
	</ul>
</li>
<li class="uk-parent">
	<a href="#" class="ac-header-nav-category-item uk-text-truncate"><i class="uk-icon-book uk-text-muted"></i>&nbsp;&nbsp;outdoor sports</a>
	<ul class="uk-nav-sub">
		<li>
			<ul>
				<li class="uk-nav-header">outdoor product</li>
				<li><a href="#">Flashlight </a></li>
				<li><a href="#">pocket / chest bag </a></li>
				<li><a href="#">mountaineering bag / shoulder bag </a></li>
				<li><a href="#">umbrellas </a></li>
				<li><a href="#">grill oven </a></li>
				<li><a href="#">sleeping </a></li>
				<li><a href="#">fishing vessel </a></li>
				<li><a href="#">moisture pad </a></li>
				<li><a href="#">Battery / fuel </a></li>
				<li><a href="#">Outdoor watch </a></li>
				<li><a href="#">fishing chair </a></li>
				<li><a href="#">bait </a></li>
				<li><a href="#">wetsuit </a></li>
				<li><a href="#">stool </a></li>
				<li><a href="#">Road sub-round </a></li>
				<li><a href="#">road sub-bait </a></li>
				<li><a href="#">Taiwan fishing rod </a></li>
				<li><a href="#">riding package </a></li>
				<li><a href="#">Angeles fishing rod </a></li>
				<li><a href="#">binoculars </a></li>
				<li><a href="#">lures fish pole</a></li>
			</ul>
			<ul>
				<li class="uk-nav-header">Special equipment</li>
				<li><a href="#">Badminton brace </a></li>
				<li><a href="#">fitness protectors </a></li>
				<li><a href="#">bikini </a></li>
				<li><a href="#">basketball brace </a></li>
				<li><a href="#">soccer clothes </a></li>
				<li><a href="#">football protective equipment </a></li>
				<li><a href="#">tennis brace </a></li>
				<li><a href="#">piece swimsuit </a></li>
				<li><a href="#">extreme sports protective gear </a></li>
				<li><a href="#">volleyball protectors </a></li>
				<li><a href="#">baseball protectors </a></li>
				<li><a href="#">Football protectors </a></li>
				<li><a href="#">squash protectors </a></li>
				<li><a href="#">home treadmill </a></li>
				<li><a href="#">badminton </a></li>
				<li><a href="#">modern dance shoes </a></li>
				<li><a href="#">yoga mat </a></li>
				<li><a href="#">mini treadmill machine </a></li>
				<li><a href="#">basketball clothes </a></li>
				<li><a href="#">skateboard </a></li>
				<li><a href="#">Men's Swimwear </a></li>
				<li><a href="#">skates </a></li>
				<li><a href="#">badminton </a></li>
				<li><a href="#">split swimsuit </a></li>
				<li><a href="#">golf clothing </a></li>
				<li><a href="#">dumbbell </a></li>
				<li><a href="#">golf club </a></li>
				<li><a href="#">badminton shoes </a></li>
				<li><a href="#">children's swimwear / pants </a></li>
				<li><a href="#">bike </a></li>
				<li><a href="#">soccer shoes </a></li>
				<li><a href="#">rejection fat</a></li>
			</ul>
			<ul>
				<li class="uk-nav-header">Sports apparel</li>
				<li><a href="#">Running shoes </a></li>
				<li><a href="#">sports bag </a></li>
				<li><a href="#">backpack </a></li>
				<li><a href="#">sports pants </a></li>
				<li><a href="#">T-shirt </a></li>
				<li><a href="#">sports suit </a></li>
				<li><a href="#">outdoor backpack </a></li>
				<li><a href="#">sports jacket </a></li>
				<li><a href="#">sports sweater </a></li>
				<li><a href="#">gloves </a></li>
				<li><a href="#">hiking shoes </a></li>
				<li><a href="#">soccer shoes </a></li>
				<li><a href="#">waterproof supplies </a></li>
				<li><a href="#">canvas shoes, </a></li>
				<li><a href="#">sandals </a></li>
				<li><a href="#">wallet / card package </a></li>
				<li><a href="#">scarf / cover ear </a></li>
				<li><a href="#">sweatpants </a></li>
				<li><a href="#">kettle </a></li>
				<li><a href="#">Army fans pack </a></li>
				<li><a href="#">halter </a></li>
				<li><a href="#">shoulder bag </a></li>
				<li><a href="#">shoe care accessories </a></li>
				<li><a href="#">bag </a></li>
				<li><a href="#">sports coat </a></li>
				<li><a href="#">baseball uniform </a></li>
				<li><a href="#">comprehensive training shoes </a></li>
				<li><a href="#">hole shoes </a></li>
				<li><a href="#">sport polo</a></li>
			</ul>
			<ul>
				<li class="uk-nav-header">Cycling necessary</li>
				<li><a href="#">Cycling clothes suit </a></li>
				<li><a href="#">bike light </a></li>
				<li><a href="#">transmission </a></li>
				<li><a href="#">cycling shoes </a></li>
				<li><a href="#">bike kits </a></li>
				<li><a href="#">riding Tops </a></li>
				<li><a href="#">bicycle accessories </a></li>
				<li><a href="#">bike code table </a></li>
				<li><a href="#">riding Bottoms </a></li>
				<li><a href="#">pedal </a></li>
				<li><a href="#">riding helmet </a></li>
				<li><a href="#">bicycle gloves </a></li>
				<li><a href="#">Segway </a></li>
				<li><a href="#">bicycle tire </a></li>
				<li><a href="#">seat / saddle </a></li>
				<li><a href="#">pump </a></li>
				<li><a href="#">cycling glasses </a></li>
				<li><a href="#">shock devices </a></li>
				<li><a href="#">foot brace / racks </a></li>
				<li><a href="#">chainwheel / crank </a></li>
				<li><a href="#">sleeve / leg sets </a></li>
				<li><a href="#">bicycle brake </a></li>
				<li><a href="#">seat tube / seatpost</a></li>
			</ul>
		</li>
	</ul>
</li>
<li class="uk-parent">
	<a href="#" class="ac-header-nav-category-item uk-text-truncate"><i class="uk-icon-refresh uk-text-muted"></i>&nbsp;&nbsp;Beauty Care</a>
	<ul class="uk-nav-sub">
		<li>
			<ul>
				<li class="uk-nav-header">Beauty / Nail</li>
				<li><a href="#">Makeup tools </a></li>
				<li><a href="#">facial beauty </a></li>
				<li><a href="#">nail tools </a></li>
				<li><a href="#">false eyelashes </a></li>
				<li><a href="#">Nail sticker </a></li>
				<li><a href="#">nail sequins </a></li>
				<li><a href="#">slim models false eyelashes </a></li>
				<li><a href="#">cross section false eyelashes </a></li>
				<li><a href="#">thick mascara </a></li>
				<li><a href="#">aromatherapy tools </a></li>
				<li><a href="#">nail polish is </a></li>
				<li><a href="#">elongated end of eye lashes </a></li>
				<li><a href="#">nail </a></li>
				<li><a href="#">nail care devices </a></li>
				<li><a href="#">Body Care </a></li>
				<li><a href="#">Resurrection towel </a></li>
				<li><a href="#">Nail Art glue </a></li>
				<li><a href="#">nail Cream</a></li>
			</ul>
			<ul>
				<li class="uk-nav-header">Personal cleansing / modeling</li>
				<li><a href="#">Styler </a></li>
				<li><a href="#">face-lift instrument </a></li>
				<li><a href="#">men shavers </a></li>
				<li><a href="#">hair dryer </a></li>
				<li><a href="#">scales </a></li>
				<li><a href="#">steam face machine </a></li>
				<li><a href="#">Barber </a></li>
				<li><a href="#">posture correction </a></li>
				<li><a href="#">electric toothbrush accessories </a></li>
				<li><a href="#">red teeth </a></li>
				<li><a href="#">razor accessories </a></li>
				<li><a href="#">slimming belt </a></li>
				<li><a href="#">tender microdermabrasion machine foot </a></li>
				<li><a href="#">bridge of the nose increased device </a></li>
				<li><a href="#">baking oil cap </a></li>
				<li><a href="#">nose hair trimmer </a></li>
				<li><a href="#">Slimming </a></li>
				<li><a href="#">eyelashes Curler </a></li>
				<li><a href="#">legs meter</a></li>
			</ul>
			<ul>
				<li class="uk-nav-header">Health massage</li>
				<li><a href="#">Eye Massager </a></li>
				<li><a href="#">health kneepad </a></li>
				<li><a href="#">foot bath </a></li>
				<li><a href="#">waist and neck massage pillow </a></li>
				<li><a href="#">moxa </a></li>
				<li><a href="#">moxa burner </a></li>
				<li><a href="#">massager </a></li>
				<li><a href="#">foot massage machine </a></li>
				<li><a href="#">massage cape </a></li>
				<li><a href="#">sauna box </a></li>
				<li><a href="#">electronic blood glucose meter </a></li>
				<li><a href="#">scraping plates </a></li>
				<li><a href="#">mini massager </a></li>
				<li><a href="#">acupuncture stick </a></li>
				<li><a href="#">massage equipment Accessories </a></li>
				<li><a href="#">Health collar </a></li>
				<li><a href="#">foot massage go blanket </a></li>
				<li><a href="#">electronic thermometer </a></li>
				<li><a href="#">electronic meter synchronizer </a></li>
				<li><a href="#">massage mattress</a></li>
			</ul>
			<ul>
				<li class="uk-nav-header">Hair Care</li>
				<li><a href="#">Whole wig </a></li>
				<li><a href="#">straight hair piece </a></li>
				<li><a href="#">hair mud / wax </a></li>
				<li><a href="#">bangs piece </a></li>
				<li><a href="#">Hair Mask / inverted membrane </a></li>
				<li><a href="#">hair piece </a></li>
				<li><a href="#">ponytail </a></li>
				<li><a href="#">wig steel comb </a></li>
				<li><a href="#">meatball head </a></li>
				<li><a href="#">disposable conditioner </a></li>
				<li><a href="#">hair spray </a></li>
				<li><a href="#">perm water </a></li>
				<li><a href="#">hairspray </a></li>
				<li><a href="#">elastin </a></li>
				<li><a href="#">snood </a></li>
				<li><a href="#">wig bracket </a></li>
				<li><a href="#">styling gel </a></li>
				<li><a href="#">wig care solution </a></li>
				<li><a href="#">fluffy spray </a></li>
				<li><a href="#">Puff powder</a></li>
			</ul>
		</li>
	</ul>
</li>
