<footer class="ac-footer">
	<div class="uk-container uk-container-center">
		<div class="uk-grid uk-hidden-small">
			<div class="uk-width-2-6">
				<div class="ac-footer-about">
					<a href="#">
						<img src="images/AsiaCommerce-Logo-greyscale-350x72.png">
					</a>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
					</p>
				</div>
			</div>
			<div class="uk-width-1-6">
				<ul class="ac-footer-ul">
					<li><strong>Making an Order</strong></li>
					<li><a href="#">BuyForMe Tutorial</a></li>
					<li><a href="#">Order Status</a></li>
					<li><a href="#">Pricing & Purchasing</a></li>
					<li><a href="#">1 Click Order</a></li>
					<li><a href="#">ShipForMe Tutorial</a></li>
				</ul>
			</div>
			<div class="uk-width-1-6">
				<ul class="ac-footer-ul">
					<li><strong>Payment & Shipping</strong></li>
					<li><a href="#">Payment Methods</a></li>
					<li><a href="#">Points and coupons</a></li>
					<li><a href="#">Shipping Methods</a></li>
					<li><a href="#">Shipping Price</a></li>
					<li><a href="#">Parcel Tracking</a></li>
				</ul>
			</div>
			<div class="uk-width-1-6">
				<ul class="ac-footer-ul">
					<li><strong>Customer Service</strong></li>
					<li><a href="#">Contact Us</a></li>
					<li><a href="#">Complaint & Return</a></li>
					<li><a href="#">Refund Policy</a></li>
					<li><a href="#">VIP Club</a></li>
					<li><a href="#">Customs</a></li>
				</ul>
			</div>
			<div class="uk-width-1-6">
				<ul class="ac-footer-ul">
					<li><strong>Other</strong></li>
					<li><a href="#">Hot Taobao Sellers</a></li>
					<li><a href="#">Taobao Shopping Tips</a></li>
					<li><a href="#">Size Conversion</a></li>
					<li><a href="#">International Shipping</a></li>
					<li><a href="#">Affiliate program</a></li>
				</ul>
			</div>
		</div>
		<div class="uk-text-alignt">
			<h4 class="uk-visible-small uk-margin-remove uk-text-center">Payment Method</h4>
		</div>
		<div class="uk-text-center" style="margin-top: 20px;">
			<img src="images/payment-icon.png" alt="payment-icon" title="Payment Icon" width="300">
		</div>
		<hr>
		<div class="uk-align-center uk-text-center">
			<h3>Get closer with us</h3>
			<ul class="ac-footer-ul-inline">
				<li><a href="#"><i class="uk-icon-envelope uk-icon-small"></i></a></li>
				<li><a href="#"><i class="uk-icon-facebook uk-icon-small"></i></a></li>
				<li><a href="#"><i class="uk-icon-twitter uk-icon-small"></i></a></li>
				<li><a href="#"><i class="uk-icon-google-plus uk-icon-small"></i></a></li>
			</ul>
			<ul class="uk-subnav uk-subnav-line uk-margin-small uk-text-center uk-visible-small uk-display-inline-block">
				<li><a href="#">Privacy Policy</a></li>
				<li><a href="#">Terms of use</a></li>
				<li><a href="#">Contact us</a></li>
			</ul>
			<span class="ac-footer-copy">Copyright © 2016 <strong>asia</strong>commerce alpha dev team. All Rights Reserved</span>
		</div>
	</div>
</footer>