<section class=" ac-top-section">
	<div class="uk-container uk-container-center">
		<div class="ac-nav-top">
			<div class="ac-kurs">
				1 USD = 13295 IDR
			</div>
			<nav class="ac-nav-lite-wrap uk-float-right">
				<ul class="ac-nav-lite uk-hidden-small">
					<li>
						Language:
						<select>
							<option>ID</option>
							<option>EN</option>
						</select>
					</li>
					<li class="uk-button-dropdown" data-uk-dropdown="{mode:'click'}" aria-haspopup="true" aria-expanded="false">
						<a href="#" class="uk-button-link">Guidance <i class="uk-icon-caret-down"></i></a>
						<div class="uk-dropdown uk-dropdown-bottom" style="top: 30px; left: 0px;">
							<ul class="uk-nav uk-nav-dropdown">
								<li><a href="#">Shopping Guide</a></li>
								<li><a href="#">Select Product</a></li>
								<li><a href="#">Hot Item</a></li>
							</ul>
						</div>
					</li>
					<li class="uk-button-dropdown" data-uk-dropdown="{mode:'click'}" aria-haspopup="true" aria-expanded="false">
						<a href="#" class="uk-button-link">Help <i class="uk-icon-caret-down"></i></a>
						<div class="uk-dropdown uk-dropdown-bottom" style="top: 30px; left: 0px;">
							<ul class="uk-nav uk-nav-dropdown">
								<li><a href="#">FAQ</a></li>
								<li><a href="#">Help Center</a></li>
							</ul>
						</div>
					</li>
					<li><a href="#">About us</a></li>
					<li><a href="#">My Whislist</a></li>
					<li class="uk-active"><a href="#">Register</a></li>
				</ul>
				<a href="#tm-offcanvas" class="uk-navbar-toggle uk-visible-small" data-uk-offcanvas=""></a>
			</nav>
		</div>
		<div class="ac-nav-brand-wrap">
			<a href="#" class="ac-nav-brand">
				<img src="images/asiacommerce-logo-dark.png" class="uk-margin uk-margin-remove" title="Logo" alt="logo" height="49" width="250">
			</a>
		</div>
		<div class="ac-top-content-right uk-text-right">
			<div class="ac-top-search-wrap">
				<form class="">
					<input type="text" placeholder="Fill keywords to search, or paste a goods link direct to buy" class="uk-margin-remove">
					<button class=""><i class="uk-icon-search"></i></button>
				</form>
			</div>
			<a href="#" class="uk-button uk-button-main-dark uk-button-rounded"><i class="uk-icon-lock"></i>&nbsp;Login</a>
			<a href="#" class="uk-button uk-button-rounded ac-button-cart">
				<i class="uk-icon-shopping-cart"></i>&nbsp;
				My Cart
				<span>0</span>
			</a>
		</div>
	</div>
</section>
