<section class=" ac-top-section">
	<div class="uk-container uk-container-center">
		<div class="ac-nav-top uk-clearfix">
			<div class="ac-kurs uk-hidden-small">
				1 USD = 13295 IDR
			</div>
			<nav class="ac-nav-lite-wrap uk-float-right">
				<ul class="ac-nav-lite uk-hidden-small">
					{% include "top-menu-lite.html" %}
				</ul>
			</nav>
			<a href="#ac-offcanvas-right" class="uk-float-right uk-navbar-toggle uk-visible-small ac-rightbar-menu-offcanvas-toggle" data-uk-offcanvas=""></a>
		</div>
		<div class="ac-nav-brand-wrap">
			<a href="#ac-offcanvas-left" data-uk-offcanvas class="ac-nav-brand uk-visible-small">
				<img src="images/asiacommerce-logo-white-w-hamburger.png">
			</a>
			<a href="#" class="ac-nav-brand uk-hidden-small">
				<img src="images/asiacommerce-logo-dark.png" class="uk-margin uk-margin-remove" title="Logo" alt="logo" height="49" width="250">
			</a>
		</div>
		<div class="ac-top-content-right">
			<div class="ac-top-search-wrap">
				<input type="text" placeholder="Fill keywords to search, or paste a goods link direct to buy" class="uk-margin-remove">
				<button class=""><i class="uk-icon-search"></i></button>
			</div>
			<div class="ac-top-login-button-wrap">
				<a href="#" class="uk-button uk-button-main-dark uk-button-rounded"><i class="uk-icon-lock"></i>&nbsp;Login</a>
				<a href="#" class="uk-button uk-button-rounded ac-button-cart">
					<i class="uk-icon-shopping-cart"></i>&nbsp;
					My Cart
					<span>0</span>
				</a>
			</div>
		</div>
	</div>
</section>
