<section class="ac-header-nav-wrap uk-hidden-small">
	<div class="uk-container uk-container-center">
		<div class="uk-grid uk-grid-collapse" >
			<div class="uk-width-medium-3-4 uk-push-1-4">
				<ul class="ac-header-nav-ul uk-clearfix">
					<li><a href="#" class="ac-header-nav">Ship for me</a></li>
					<li><a href="#" class="ac-header-nav">Deals</a></li>
					<li><a href="#" class="ac-header-nav">Brand</a></li>
				</ul>
			</div>
		</div>
		<div class="ac-header-nav-category-wrap" id="ac-category-menu">
			<ul class="ac-header-nav-category-ul">
				<li class="uk-button-dropdown" data-uk-dropdown="{justify:'#ac-category-menu'}">
					<a href="#"class="ac-header-nav-category-item ac-header-nav-category-upper uk-text-truncate">All Categories</a>
					<div class="uk-dropdown">
		        <ul class="uk-nav uk-nav-dropdown">
							{% include "category-menu.html" %}
						</ul>
					</div>
				</li>
			</ul>
		</div>
	</div>
</section>