<section class=" ac-top-section" data-uk-sticky="{top:-440,animation: 'uk-animation-slide-top', clsinactive: 'uk-inactive'}">
	<div class="uk-container uk-container-center">
		<div class="ac-nav-top uk-clearfix">
			<div class="ac-kurs uk-hidden-small">
				1 USD = 13295 IDR
			</div>
			<nav class="ac-nav-lite-wrap uk-float-right">
				<ul class="ac-nav-lite uk-hidden-small">
					{% include "top-menu-lite.html" %}
				</ul>
			</nav>
		</div>
		<a href="javascript:void(0);" id="ac-category-menu-button" class="uk-navbar-toggle uk-hidden-small"></a>
		<div class="ac-nav-brand-wrap">
			<a href="#ac-offcanvas-left" data-uk-offcanvas class="ac-nav-brand uk-visible-small">
				<img src="images/asiacommerce-logo-white-w-hamburger.png">
			</a>
			<a href="./" class="ac-nav-brand uk-hidden-small">
				<img src="images/AsiaCommerce-Logo-Color-350x72.png" class="uk-margin uk-margin-remove" title="Logo" alt="logo" height="49" width="250">
			</a>
		</div>
		<div class="ac-top-content-right">
			<div class="ac-top-search-wrap">
				<input type="text" placeholder="Fill keywords to search, or paste a goods link direct to buy" class="uk-margin-remove">
				<button class=""><i class="uk-icon-search"></i></button>
			</div>
			<div class="ac-top-login-button-wrap">
				<a href="signing.html" class="uk-button uk-button-main-dark uk-button-rounded ac-top-login-button-login"><i class="uk-icon-lock"></i>&nbsp;Login</a>
				<a href="cart.html" class="uk-button uk-button-rounded ac-button-cart">
					<i class="uk-icon-shopping-cart"></i>
					<span>
						My Cart
					</span>
					<span class="ac-button-cart-counter">0</span>
				</a>
			</div>
		</div>
	</div>
</section>

<div class="uk-container uk-container-center uk-hidden-small">
	<div class="ac-category-menu">
		<ul>
			{% include "../components/category-menu.html" %}
		</ul>
	</div>
</div>
