<section class="ac-header-nav-wrap uk-hidden-small">
	<div class="uk-container uk-container-center">
		<div class="uk-grid uk-grid-collapse" >
			<div class="uk-width-medium-3-4 uk-push-1-4">
				<ul class="ac-header-nav-ul uk-clearfix">
					<li><a href="#" class="ac-header-nav">Ship for me</a></li>
					<li><a href="#" class="ac-header-nav">Deals</a></li>
					<li><a href="#" class="ac-header-nav">Brand</a></li>
				</ul>
			</div>
		</div>
		<div class="ac-header-nav-category-wrap">
			<ul class="ac-header-nav-category-ul">
				<li><a href="#"class="ac-header-nav-category-item ac-header-nav-category-upper">All Categories</a></li>
				<li><a href="#"class="ac-header-nav-category-item"><i class="uk-icon-suitcase uk-text-muted"></i>&nbsp;&nbsp;Apparel</a></li>
				<li><a href="#"class="ac-header-nav-category-item"><i class="uk-icon-steam uk-text-muted"></i>&nbsp;&nbsp;Shoes</a></li>
				<li><a href="#"class="ac-header-nav-category-item"><i class="uk-icon-briefcase uk-text-muted"></i>&nbsp;&nbsp;Bags & Accessories</a></li>
				<li><a href="#"class="ac-header-nav-category-item"><i class="uk-icon-tablet uk-text-muted"></i>&nbsp;&nbsp;Electronic & Gadget</a></li>
				<li><a href="#"class="ac-header-nav-category-item"><i class="uk-icon-female uk-text-muted"></i>&nbsp;&nbsp;Beauty</a></li>
				<li><a href="#"class="ac-header-nav-category-item"><i class="uk-icon-home uk-text-muted"></i>&nbsp;&nbsp;Home & Appliance</a></li>
				<li><a href="#"class="ac-header-nav-category-item"><i class="uk-icon-soccer-ball-o uk-text-muted"></i>&nbsp;&nbsp;Sports & Outdoor</a></li>
				<li><a href="#"class="ac-header-nav-category-item"><i class="uk-icon-gamepad uk-text-muted"></i>&nbsp;&nbsp;Toys & Games</a></li>
				<li><a href="#"class="ac-header-nav-category-item"><i class="uk-icon-paw uk-text-muted"></i>&nbsp;&nbsp;Pets Supplies</a></li>
				<li><a href="#"class="ac-header-nav-category-item"><i class="uk-icon-car uk-text-muted"></i>&nbsp;&nbsp;Automobiles & Motors</a></li>
				<li><a href="#"class="ac-header-nav-category-item"><i class="uk-icon-book uk-text-muted"></i>&nbsp;&nbsp;Book & Magazines</a></li>
				<li><a href="#"class="ac-header-nav-category-item"><i class="uk-icon-refresh uk-text-muted"></i>&nbsp;&nbsp;Daily Products</a></li>
			</ul>
		</div>
	</div>
</section>