{% extends "../layouts/default.html" %}

{% block css %}
	<!-- build:css styles/best-selling.css -->
	<link rel="stylesheet" href="bower_components/Swiper/dist/css/swiper.min.css">
	<link rel="stylesheet" href="styles/ac-best-selling.css">
	<!-- endbuild -->
{% endblock %}

{% block main %}
<div id="ac-best-selling">
	<header class="ac-best-selling-header">
		<div class="uk-container uk-container-center">
			<div class="ac-best-selling-header-push uk-hidden-small"></div>
			<div class="ac-best-selling-header-slider">
				<div class="swiper-container">
			    <!-- Additional required wrapper -->
			    <div class="swiper-wrapper">
			        <!-- Slides -->
			        <div class="swiper-slide">
			        	<a href="#" class="uk-display-block">
					        <img src="images/best-selling/best-selling-banner-1.jpg" alt="best-selling-banner-1" title="Banner 1">
				        </a>
			        </div>
			        <div class="swiper-slide">
			        	<a href="#" class="uk-display-block">
				        	<img src="images/best-selling/best-selling-banner-2.jpg" alt="best-selling-banner-2" title="Banner 2">
			        	</a>
			        </div>
			        <div class="swiper-slide">
			        	<a href="#" class="uk-display-block">
					        <img src="images/best-selling/best-selling-banner-3.jpg" alt="best-selling-banner-3" title="Banner 3">
				        </a>
			        </div>
			    </div>
			    <!-- If we need pagination -->
			    <div class="swiper-pagination"></div>
			    
			    <!-- If we need navigation buttons -->
			    <div class="swiper-button-prev"></div>
			    <div class="swiper-button-next"></div>
				</div>
			</div>
			<div class="ac-best-selling-header-banner">
				
			</div>
		</div>
	</header>

	<div class="ac-product-list-filter-wrap ac-card" data-uk-sticky="{top: 61}" style="z-index: 2;">
		<div class="ac-card-body uk-form">
			<div class="uk-container uk-container-center">
				<label class="uk-visible-small"><strong>Filter:&nbsp;</strong></label>
				<div class="uk-visible-small ac-filter-result">
					<div class="uk-display-inline-block">
						<span><i class=""></i></span>
					</div>
				</div>
				<div class="uk-display-inline-block" style="margin-right: 28px;">
					<label for="ac-filter-sort">Sort</label>
					<select class="" id="ac-filter-sort">
						<option>Price low to high</option>
						<option>Price hight to low</option>
						<option>Newer</option>
						<option>Older</option>
					</select>
				</div>
				<div class="uk-display-inline-block">
					<label>Price Range:</label>
					<input type="text" placeholder="Start price">
					<input type="text" placeholder="End price">
					<a href="#" class="uk-button">Set</a>
				</div>
			</div>
		</div>
	</div>

	{{ breadcrumb.page('hotProduct') }}

	<div class="ac-product-list-wrap" data-uk-grid>
		<div class="uk-width-medium-1-3">
			<div class="ac-card">
				<div class="ac-card-body">
					hello
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}


{% block scripts %}
	<!-- build:js scripts/indexScripts.js -->
	<script src="bower_components/Swiper/dist/js/swiper.jquery.min.js"></script>
	<!-- endbuild -->

	<script>
	  $(document).ready(function () {
	     //initialize swiper when document ready  
	     var mySwiper = new Swiper ('.swiper-container', {
				pagination: '.swiper-pagination',
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev',
        slidesPerView: 1,
        paginationClickable: true,
        speed: 600,
        loop: true
	     })        
	   });

	  // responsive mega menu behaviour
	  $(document).ready(function() {
	  })
	</script>
{% endblock %}

