<!doctype html>
<html class="no-js" lang="">
<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>asiacommerce</title>

  <link rel="apple-touch-icon" href="apple-touch-icon.png">
  <!-- Place favicon.ico in the root directory -->

  <!-- build:css styles/vendor.css -->
  <!-- bower:css -->
  <!-- endbower -->
  <!-- endbuild -->

  <!-- build:css styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">

  {% block css %}
  {% endblock %}

  <!-- endbuild -->

  <!-- build:js scripts/vendor/modernizr.js -->
  <script src="/bower_components/modernizr/modernizr.js"></script>
  <!-- endbuild -->

  {% block head %}
  {% endblock %}

</head>
<body>

  {% block main %}
  {% endblock %}

  {% block footer %}
    {% include "../components/footer.html" %}
  {% endblock %}


  <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
  <script>
    (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
    function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
    e=o.createElement(i);r=o.getElementsByTagName(i)[0];
    e.src='https://www.google-analytics.com/analytics.js';
    r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
    ga('create','UA-XXXXX-X');ga('send','pageview');
  </script>

  <!-- build:js scripts/vendor.js -->
  <!-- bower:js -->
  <script src="/bower_components/jquery/dist/jquery.js"></script>
  <script src="/bower_components/uikit/js/core/core.js"></script>
  <script src="/bower_components/uikit/js/core/touch.js"></script>
  <script src="/bower_components/uikit/js/core/utility.js"></script>
  <script src="/bower_components/uikit/js/core/smooth-scroll.js"></script>
  <script src="/bower_components/uikit/js/core/scrollspy.js"></script>
  <script src="/bower_components/uikit/js/core/toggle.js"></script>
  <script src="/bower_components/uikit/js/core/alert.js"></script>
  <script src="/bower_components/uikit/js/core/button.js"></script>
  <script src="/bower_components/uikit/js/core/dropdown.js"></script>
  <script src="/bower_components/uikit/js/core/grid.js"></script>
  <script src="/bower_components/uikit/js/core/modal.js"></script>
  <script src="/bower_components/uikit/js/core/nav.js"></script>
  <script src="/bower_components/uikit/js/core/offcanvas.js"></script>
  <script src="/bower_components/uikit/js/core/switcher.js"></script>
  <script src="/bower_components/uikit/js/core/tab.js"></script>
  <script src="/bower_components/uikit/js/core/cover.js"></script>
  <!-- endbower -->
  <!-- endbuild -->

  {% block scripts %}
  {% endblock %}

        <!-- build:js scripts/main.js -->
        <script src="scripts/main.js"></script>
        <!-- endbuild -->
</body>
</html>
