@import (reference) "../main.less";

.ac-product-head-wrap {
	&:extend(.uk-clearfix);
	
	@media screen and (max-width: @breakpoint-small-max) {
		border-bottom: 1px solid #e9e9e9;

		> .uk-container {
			padding-left: 0;
			padding-right: 0;
		}
	}
}

// Product image
// ---------------------------------------------------
.ac-product-image-wrap {
	width: 100%;
	float: left;

	.sp-full-screen-button {
		top: 7px;
		right: 14px;
	}

	@media (min-width: @breakpoint-small) {
		width: 400px;
	}
}

.ac-product-info-wrap {
	float: left;

	@media (min-width: @breakpoint-small) {
		width: 444px;
	}
}

// Purchase box
// ---------------------------------------------------
.ac-purchase-opt-box {
	width: 100%;

	@media (min-width: @breakpoint-medium) {
		width: 280px;
		float: right;
	}
}


// Product info
// -----------------------------------------------

.ac-product-info-position-relative {
	position: relative;
}

.ac-product-name-wrap {
	border-bottom: 1px solidd #d9d9d9;
	padding-bottom: 10px;

	@media screen and (max-width: @breakpoint-small-max) {
		padding-left: 20px;
		padding-right: 20px;

		.ac-product-name {
			font-weight: bold;
			font-size: 16px;
			line-height: 22px;
		}
	}

	.ac-product-name {
		vertical-align: middle;
	}	
}

.ac-product-info-price {

	em {
		color: #999;
	}
}

.ac-product-info-mobile {


	&-price {
		vertical-align: middle;

		> strong {
			font-size: 22px;
			color: @main-color;
		}
	}
}

.ac-product-info-color {
	.ac-product-info-position-relative;
}

.ac-product-info-size {
	.ac-product-info-position-relative;

	ul {

		> li {
			padding: 0;

			&.ac-opt-selected {

				> a {
					background-color: @main-color;
					color: #fff;
				}
			}

			> a {
			}
		}
	}
}

.ac-product-info-error-msg {
	position: absolute;
  top: -10px;
  left: 20px;
  background-color: rgba(255, 0, 0, 0.6);
  padding: 0 6px;
  border-radius: 8px;
  color: #fff;
  font-size: .85rem;
}

.ac-price-ori {
	font-size: 20px;
  vertical-align: middle;
  color: @main-color;
}

.ac-product-option {

	> li {

		&.ac-opt-selected {

			> a {

				&:after {
					font-family: 'FontAwesome';
					content: "\f00c";
					bottom: 0;
					right: 0;
					color: #fff;
					line-height: 1rem;
					text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
					position: absolute;
				}
			}
		}

		> a {
			display: block;
			position: relative;
		}
	}
}

.ac-product-qty-wrap {
	display: table;

	> label {
		display: table-cell;
		padding-right: 10px;
		vertical-align: middle;
		font-weight: bold;
	}

	.uk-form {
		display: table-cell;
		vertical-align: middle;
	}

	.uk-list {
		display: inline-block;
		margin-top: 0;
		vertical-align: middle;

		li {

			&:first-child {
				// margin-bottom: 1px;
			}

			a {
				display: block;
		    border: 1px solid #ddd;
		    width: 20px;
		    text-align: center;
		    height: 13px;
		    line-height: 1rem;

		    &:hover,
		    &:focus {
		    	background-color: #eee;
		    }
			}
		}
	}

	.ac-product-item-remain {
		display: table-cell;
		vertical-align: middle;
		padding-left: 4px;
		line-height: .9rem;
	}
}

.ac-product-remark {
	font-size: .8rem !important;
	font-size: .8rem !important;
}

// Floated action button
// ------------------------------------

.ac-fab {
	position: fixed;
	bottom: 20px;
	right: 20px;

	&-add-to-cart {
		position: fixed;
		bottom: 20px;
		right: 20px;
		width: 46px;
		height: 46px;
		background-color: @main-color;
		display: inline-block;
		color: #fff;
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
		line-height: 46px;
		text-align: center;
		border-radius: 46px;

		&:hover,
		&:focus {
			background-color: darken(spin(@main-color, 10), 10%);
			color: #fff;
		}
	}
}